<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Drab: Server Side User Interface Access</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="icon" href="/drab/favicon.ico?v=3" />
  </head>

   <body>
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
          <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a href="/drab" class="navbar-brand">Drab</a>
      </div>

      <div id="navbarCollapse" class="collapse navbar-collapse">

        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="/drab">Tutorial <b class="caret"></b></a>
            <ul role="menu" class="dropdown-menu">
              <li><a href="/drab#simple">First Step with Drab</a></li>
              <li><a href="/drab#poke">More on Living Attributes</a></li>
              <li><a href="/drab#long_running">Long Running Process with Feedback to UI</a></li>
              <li><a href="/drab#async_task">Running Parallel Tasks (Don't Try It in Rails!)</a></li>
              <li><a href="/drab#tail_dash_f">Callbacks and Live File Change View ("tail -F")</a></li>
              <li><a href="/drab#broadcast">Is This Quick Enough? Plus Broadcast</a></li>
              <li><a href="/drab#store">Persistent Storage and Access to Plug Session</a></li>
              <li><a href="/drab#chat_example">Chat Example</a></li>
              <li><a href="/drab#presence">Using Callbacks to Create a Presence List</a></li>
              <li><a href="/drab#waiter">Waiter: Wait for User's Input</a></li>
              <li><a href="/drab#errors">Showing Errors and Exceptions</a></li>
              <li><a href="/drab#debugging">Debugging Drab in IEx</a></li>
            </ul>
          </li>

          <li><a href="https://hexdocs.pm/drab/api-reference.html">Docs</a></li>

<%#
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="/drab/docs">Docs with Examples <b class="caret"></b></a>
            <ul role="menu" class="dropdown-menu">
              <li><a href="/drab/docs#drab">Drab</a></li>
              <li><a href="/drab/docs#core">Drab.Core</a></li>
              <li><a href="/drab/docs#query">Drab.Query</a></li>
              <li><a href="/drab/docs#modal">Drab.Modal</a></li>
              <li><a href="/drab/docs#waiter">Drab.Waiter</a></li>
              <li><a href="/drab/docs#controller">Drab.Controller</a></li>
              <li><a href="/drab/docs#commander">Drab.Commander</a></li>
              <li><a href="/drab/docs#socket">Drab.Socket</a></li>
              <li><a href="/drab/docs#client">Drab.Client</a></li>
              <li><a href="/drab/docs#gen_commander">Mix.Tasks.Drab.Gen.Commander</a></li>
            </ul>
          </li>
 %>
          <li><a href="/drab/nojquery">Naked Drab</a></li>
          <li><a href="/drab/query">Drab.Query</a></li>
          <li><a href="https://github.com/grych/drab">Drab Source</a></li>
          <li><a href="https://github.com/grych/drab-poc">This Page Source</a></li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="/drab">Sandboxes <b class="caret"></b></a>
            <ul role="menu" class="dropdown-menu">
              <li><a href="https://github.com/grych/drab-example">Sandbox Project Source</a></li>
              <li><a href="https://github.com/grych/drab-example-jquery">jQuery-installed Example Project</a></li>
              <li><a href="https://github.com/grych/drab_example_nojquery">Naked Drab Example Project</a></li>
            </ul>
          </li>


          <li><a href="https://github.com/grych/drab/blob/master/README.md#installation">Installation</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="mailto:grych@tg.pl?Subject=Drab">Contact &nbsp;&nbsp;</a></li>
        </ul>
      </nav>
    </div>

    <div class="container-fluid">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= Drab.Client.js(@conn, user_id: 4, any_other: "test") %>
    <script type="text/javascript">

    </script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/agate.min.css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92311941-1', 'auto');
      ga('send', 'pageview');

    </script>


  </body>
</html>
