<h3 class="centered">Drab</h3>
<p>
  <%= moduledoc(Drab) |> raw %>
</p>
<hr>

<h3 class="centered">Drab.Query</h3>
<p>
  <%= moduledoc(Drab.Query) |> raw %>
</p>
<hr>

<div class="row">
  <h4>select/2 and select/3</h4>
  <div class="col-md-6">
    <p>
      <%= funcdoc(Drab.Query, {:select, 2}) |> raw %>
    </p>
  </div>
  <div class="col-md-6">
    <input type="text" id="qs_1_text" value="text input value">
    <button drab-click="qs_1_click" class="btn btn-primary">select(:val, from: "#qs_1_text")</button>
    <pre id="qs_1_out"> </pre>
    <br>
    <span class="qs_2 small-border">First span with class qs_2</span>&nbsp;
    <span class="qs_2 small-border">Second span with class qs_2</span>&nbsp;
    <button drab-click="qs_2_click" class="btn btn-primary">select(:html, from: ".qs_2")</button>
    <pre id="qs_2_out"> </pre>
    <br>
    <button drab-click="qs_3_click" class="btn btn-primary">select(attr: "class", from: ".qs_2")</button>
    <pre id="qs_3_out"> </pre>
    <button drab-click="qs_7_click" class="btn btn-primary">select(:classes, from: ".qs_2")</button>
    <pre id="qs_7_out"> </pre>
    <button drab-click="qs_4_click" class="btn btn-primary">select(css: "font", from: ".qs_2")</button>
    <pre id="qs_4_out"> </pre>
    <button drab-click="qs_5_click" class="btn btn-primary">select(:position, from: ".qs_2")</button>
    <pre id="qs_5_out"> </pre>
    <button drab-click="qs_6_click" class="btn btn-primary">select(:innerWidth, from: ".qs_2")</button>
    <pre id="qs_6_out"> </pre>
    <br>
  </div>
</div>
<hr>

<div class="row">
  <h4>update/2 and update/3</h4>
  <div class="col-md-6">
    <p>
      <%= funcdoc(Drab.Query, {:update, 2}) |> raw %>
    </p>
  </div>
  <div class="col-md-6">
    <span id="qu_1_span" class="small-border">span with <b>some</b> text</span><br><br>
    <button drab-click="qu_1_click" class="btn btn-primary">update(:text, set: "new &lt;u&gt;text&lt;/u&gt;", on: "#qu_1_span")</button><br><br>
    <button drab-click="qu_2_click" class="btn btn-primary">update(:html, set: "new &lt;u&gt;html&lt;/u&gt;", on: "#qu_1_span")</button><br><br>
    <button drab-click="qu_3_click" class="btn btn-primary">update(attr: "style", set: "font-family: monospace", on: "#qu_1_span")</button><br><br>
    <button drab-click="qu_4_click" class="btn btn-primary">update(class: "btn-primary", set: "btn-danger", on: this(dom_sender))</button><br><br>
    <button drab-click="qu_5_click" class="btn btn-primary">update(css: "border", set: "3 px solid red", on: this(dom_sender))</button><br><br>
    <button drab-click="qu_6_click" class="btn btn-primary">update(:height, set: "66px", on: this(dom_sender))</button><br><br>
    <button drab-click="qu_7_click" class="btn btn-primary">update(:text, set: ["One", "Two", "Three"], on: this(dom_sender))</button><br><br>
    <button drab-click="qu_8_click" class="btn btn-primary">update(css: "font-size", set: ["8px", "10px", "12px, "14px"], on: this(dom_sender))</button><br><br>
    <button drab-click="qu_9_click" class="btn">update(:class, set: ["btn-warning", "btn-primary", "btn-danger"], on: this(dom_sender))</button><br><br>
    <button drab-click="qu_10_click" class="btn">update(:class, toggle: "btn-primary", on: this(dom_sender))</button><br><br>


  </div>
</div>
<hr>

<div class="row">
  <h4>insert/2</h4>
  <div class="col-md-6">
    <p>
      <%= funcdoc(Drab.Query, {:insert, 2}) |> raw %>
    </p>
  </div>
  <div class="col-md-6">
    <span id="qi_1_span" class="small-border">span with some text</span><br><br>
    <button drab-click="qi_1_click" class="btn btn-primary">insert("&lt;b&gt; inserted &lt;/b&gt;", before: "#qi_1_span")</button><br><br>
    <button drab-click="qi_2_click" class="btn btn-primary">insert("&lt;i&gt; inserted &lt;/i&gt;", after: "#qi_1_span")</button><br><br>
    <button drab-click="qi_3_click" class="btn btn-primary">insert("&lt;u&gt; prepended &lt;/u&gt;", prepend: "#qi_1_span")</button><br><br>
    <button drab-click="qi_4_click" class="btn btn-primary">insert("&lt;small&gt; appended &lt;/small&gt;", append: "#qi_1_span")</button><br><br>
  </div>
</div>
<hr>

<div class="row">
  <h4>delete/2</h4>
  <div class="col-md-6">
    <p>
      <%= funcdoc(Drab.Query, {:delete, 2}) |> raw %>
    </p>
  </div>
  <div class="col-md-6">
    <button drab-click="qd_1_click" class="btn btn-primary">delete(class: "btn btn-primary", from: this(dom_sender))</button>
    <br><br>
    <pre id="qd_2_pre">node to be cleared</pre>
    <button drab-click="qd_2_click" class="btn btn-primary">delete(from: "#qd_2_pre")</button>
    <br><br>
    <pre id="qd_3_pre">node to be removed</pre>
    <button drab-click="qd_3_click" class="btn btn-primary">delete("#qd_3_pre")</button>
  </div>
</div>
<hr>

<div class="row">
  <h4>execute/2</h4>
  <div class="col-md-6">
    <p>
      <%= funcdoc(Drab.Query, {:execute, 2}) |> raw %>
    </p>
  </div>
  <div class="col-md-6">
    <input type="text" id="qe_1_text" value="text input">
    <button drab-click="qe_1_click" class="btn btn-primary">execute(:focus, on: "#qe_1_text")</button>
    <br><br>
    <button drab-click="qe_2_click" class="btn btn-primary">execute(:toggle, on: "#qe_1_text")</button>
    <br><br>
  </div>
</div>
<hr>

<h3 class="centered">Drab.Modal</h3>
<p>
  <%= moduledoc(Drab.Modal) |> raw %>
</p>
<hr>

<div class="row">
  <h4>alert/4</h4>
  <div class="col-md-6">
    <p>
      <%= funcdoc(Drab.Modal, {:alert, 4}) |> raw %>
    </p>
  </div>
  <div class="col-md-6">
    <button drab-click="a_1_click" class="btn btn-primary">alert("Title", "Just a message")</button><br><br>
    <button drab-click="a_2_click" class="btn btn-primary">alert("Message", "What is the answer?", ok: "42", cancel: "Don't know")</button><br><br>
    <button drab-click="a_3_click" class="btn btn-primary">alert("Your name?", "&lt;input name='name'&gt;", ok: "A juści", cancel: "Poniechaj")</button><br><br>
    <button drab-click="a_4_click" class="btn btn-primary">alert(..., ..., buttons: [ok: "Yes", cancel: "No", unspecified: "Not sure"])</button><br><br>
    <button drab-click="a_5_click" class="btn btn-primary">alert("Timeout", "I will disapear in a few seconds", timeout: 5)</button><br><br>

  </div>
</div>
<hr>

<h3 class="centered">Drab.Core</h3>
<p>
  <%= moduledoc(Drab.Core) |> raw %>
</p>

<div class="row">
  <h4>execjs/2</h4>
  <div class="col-md-6">
    <p>
      <%= funcdoc(Drab.Core, {:execjs, 2}) |> raw %>
    </p>
  </div>
  <div class="col-md-6">
    <button drab-click="c_1_click" class="btn btn-primary">
      socket |> execjs("2 + 2")
    </button><br><br>
    <button drab-click="c_2_click" class="btn btn-primary">
      socket |> execjs("alert('Do you like alerts?')")
    </button>
  </div>
</div>

<div class="row">
  <h4>broadcastjs/2</h4>
  <div class="col-md-6">
    <p>
      <%= funcdoc(Drab.Core, {:broadcastjs, 2}) |> raw %>
    </p>
  </div>
  <div class="col-md-6">
    <button drab-click="c_3_click" class="btn btn-primary">
      socket |> broadcastjs("console.log('message to all')")
    </button>
  </div>
</div>

<div class="row">
  <h4>put_store/3</h4>
  <div class="col-md-6">
    <p>
      <%= funcdoc(Drab.Core, {:put_store, 3}) |> raw %>
    </p>
  </div>
  <div class="col-md-6">
    <button drab-click="c_4_click" class="btn btn-primary">
      socket |> put_store(:counter, get_store(socket, :counter, 0) + 1)
    </button>
  </div>
</div>

<div class="row">
  <h4>get_store/2</h4>
  <div class="col-md-6">
    <p>
      <%= funcdoc(Drab.Core, {:get_store, 2}) |> raw %>
    </p>
  </div>
  <div class="col-md-6">
    <button drab-click="c_5_click" class="btn btn-primary">
      socket |> get_store(:counter)
    </button>
  </div>
</div>

<div class="row">
  <h4>get_session/2</h4>
  <div class="col-md-6">
    <p>
      <%= funcdoc(Drab.Core, {:get_session, 2}) |> raw %>
    </p>
  </div>
  <div class="col-md-6">
    <button drab-click="c_6_click" class="btn btn-primary">
      socket |> get_session(:test)
    </button>
  </div>
</div>

<div class="row">
  <h4>get_store/3</h4>
  <div class="col-md-6">
    <p>
      <%= funcdoc(Drab.Core, {:get_store, 3}) |> raw %>
    </p>
  </div>
</div>


<hr>

<h3 class="centered">Drab.Controller</h3>
<p>
  <%= moduledoc(Drab.Controller) |> raw %>
</p>
<hr>

<h3 class="centered">Drab.Commander</h3>
<p>
  <%= moduledoc(Drab.Commander) |> raw %>
</p>
<hr>

<h3 class="centered">Drab.Socket</h3>
<p>
  <%= moduledoc(Drab.Socket) |> raw %>
</p>
<hr>

<h3 class="centered">Drab.Client</h3>
<p>
  <%= moduledoc(Drab.Client) |> raw %>
</p>
<div class="row">
  <h4>get_store/3</h4>
  <div class="col-md-12">
    <p>
      <%= funcdoc(Drab.Client, {:js, 2}) |> raw %>
    </p>
  </div>
</div>
<hr>

<h3 class="centered">Mix.Tasks.Drab.Gen.Commander</h3>
<p>
  <%= moduledoc(Mix.Tasks.Drab.Gen.Commander) |> raw %>
</p>

