/* This file is for your main application css. */
.small-margins {
  margin-left: 40px;
  margin-right: 40px;
}
.font-console {
  font-family: Consolas, Lucida Console, monospace;
}
h3, h4, h5 {
  text-align: center;
}
.centered {
  text-align: center;
}
.small-border {
  border: 1px dashed grey;
  padding: 2px 2px 2px 2px;
}
button {
  font-family: Consolas, "Lucida Console", monospace;
}
#log_file {
  font-size: 10px;
  /*max-height: 400px;*/
}
hr {
  border-top: 1px solid grey;
}
.anchored {
  padding-top: 60px; 
  margin-top: -60px;
}
.anchored:hover {
  cursor: default;
  text-decoration: none;
}
body {
  padding-top: 40px;
}
