What is the answer to life, universe and everything?
<button class="btn btn-primary">Tomato</button>&nbsp;
<button class="btn btn-primary">42</button>&nbsp;
<button class="btn btn-primary">Skiing</button>
